<ion-header>
  <ion-navbar color="primary">
    <ion-title>Teams</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!-- <button *ngFor="let team of teams" ion-item (click)="itemTapped(team)">
    {{ team.name }}
  </button> -->
  <ion-list>
      <ion-item-group *ngFor="let division of teams">
          <ion-item-divider color="secondary">{{division.divisionName}}</ion-item-divider>
          <button ion-item *ngFor="let team of division.divisionTeams" (click)="itemTapped(team)">
              {{team.name}}
          </button>
      </ion-item-group>
  </ion-list>
</ion-content>
